<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src='javascripts/crafty.js'></script>
        <script src='javascripts/craftyMFace.js'></script>
        <script src='javascripts/angular.min.js'></script>

        <script src='javascripts/main.js'></script>
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <title>Crafty.js and Reiner Tilesets by jwalton922</title>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-61100817-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>

    <body>
        <header>
            <div class="inner">
                <h1>Crafty.js and Reiner Tilesets</h1>
                <h2></h2>
                <a href="https://github.com/jwalton922/craftyjsAndReinerTilesets" class="button"><small>View project on</small> GitHub</a>
            </div>
        </header>

        <div id="content-wrapper">
            <div class="inner clearfix">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bannerad -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-3405606336907850"
                     data-ad-slot="1281948327"></ins>
                <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <section id="main-content">
                    <h3>Welcome</h3>

                    <p>This project will show you how to use <a href="http://craftyjs.com/"">Crafty.js</a> to animate <a href="http://www.reinerstilesets.de/">Reiner's</a> 2D art.</p>
                    <h5>Motivation</h5>
                    <p>
                        Finding good game art is difficult. There is a lot of good stuff available for free, 
                        but rarely is there enough consistent for a game without a lot of (art) work. For example, you probably want animations of different actions like moving,
                        attacking, getting hit, gathering resources, etc. You probably also want your characters to be roughly equal in size. I have not found
                        anything near as complete anywhere else. If there is, I'd really like someone to tell me about it!                                                
                    </p>
                    <p>
                        There are a lot of game engines out there. I am still fairly new to Craftys.js, but I like that it is open source, free, lightweight, and I figured out
                        how to get it to work with Reiner's 2D art pretty quickly. It also seems to have an active community which is a huge plus.
                    </p>

                    <h5>Getting Started With Reiner's 2D Art</h5>
                    <p>
                        Reiner's 2D art can be found <a href="http://www.reinerstilesets.de/2d-grafiken/">here</a>. Use the menu bar at the top to navigate the different 2D art categories. The art is free to use per the <a href="http://www.reinerstilesets.de/lizenz/">license</a>, please give credit where it's due if you use it!
                    </p>
                    <p>
                        There is some work to do before immediately using the art. First we need to make some sprite sheets and make the background transparent.
                    </p>
                    <h3>More Coming...Still in progress</h3>
                    <div data-ng-app="joshgameApp" data-ng-controller="MainCtrl" data-ng-init="init()">
                        <h3>Lumberjack Controls</h3>
                        <!--          <select data-ng-model="lumberjackAnimation128" data-ng-options="info.action for info in animations.lumberjack128"></select>-->
                        <select data-ng-change="changeLumberjackAnimation()" data-ng-model="lumberjackAnimation" data-ng-options="info.action for info in animations.lumberjackAll"></select>
                        <select data-ng-change="changeLumberjackAnimation()" data-ng-model="lumberjackDirection" data-ng-options="dir for dir in directionList"></select>
                        <!--                        <button data-ng-click="changeLumberjackAnimation()">Change Animation</button>-->
                        <div id='sample'></div>
                    </div>

                </section>

                <aside id="sidebar">
                    <a href="https://github.com/jwalton922/craftyjsAndReinerTilesets/zipball/master" class="button">
                        <small>Download</small>
                        .zip file
                    </a>
                    <a href="https://github.com/jwalton922/craftyjsAndReinerTilesets/tarball/master" class="button">
                        <small>Download</small>
                        .tar.gz file
                    </a>

                    <p class="repo-owner"><a href="https://github.com/jwalton922/craftyjsAndReinerTilesets"></a> is maintained by <a href="https://github.com/jwalton922">jwalton922</a>.</p>

                    <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
                </aside>
            </div>
        </div>


    </body>
</html>
